.sectionHeader {
  padding: 20px;
  margin-left: 5px;
  font-family: 'Architects Daughter';
  font-size: 30px;
}

.house {
  margin-left: 250px;
  width: 800px;
}

.mashedLifeHolder {
  background: lightgray;
  border-radius: 50px;

}

.mashBtn {
  font-size: 20px;
  background: lightblue;
  color: fuchsia;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 500px;
}

.lifeHeader {
  font-family: 'Architects Daughter';
  font-size: 20px;
  font-weight: bold;
  display: inline
}



.lifeFacts {
  display: inline;
  font-size: 20px;
  color: fuchsia;
}

.ul {
  list-style-type: circle;
}